@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
html, body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins' sans-serif;
    color: #222;
  }
 .navbar   {
    padding: .8rem;
    background-color: #000000 !important;
 
  }
  .navbar-brand {
    color: white !important;
    font-family: 'Kaushan Script','Helvetica Neue',Helvetica,Arial;
    font-size: 2.5rem !important;

  }
  .nav-item .nav-link {
    font-size: 90%;
    font-weight: 400;
    padding: .75em 0;
    letter-spacing: 1px;
    color: #fff !important;
    font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
    text-transform: uppercase;
  }
  .navbar-light .nav-item .active a,  .navbar-light .nav-item .active a:focus,
  .navbar-light .nav-item .active a:hover, {
      color:#fed136;
      background-color:#5E4485;
  }

 
  .navbar-light .navbar-nav li a {
    padding-right: 20px;
  }
  .nav-link {
    font-size: 1.1em !important;
  }
   .navbar-toggler{
    font-size: 12px;
    right: 0;
    padding: 13px;
   
    color: black !important;
    border: 0;
    background-color: #fff;
    font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
    text-transform: uppercase;
  }
  .navbar-light .navbar-toggler-icon {
    background-color: white;
    color: black;
    width: 2em;
  }
  
    .display-2 {
      font-size: 75px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 50px;
    font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    }
    #collegename .display-2 {
      font-size: 40px;
    font-style: italic;
    line-height: 40px;
    margin-bottom: 25px;
    font-family: 'Droid Serif','Helvetica Neue',Helvetica,Arial,sans-serif;
    }
      .carousel-caption {
        position:absolute;
        top: 50%;
        transform:  translateY(-50%);
      }
      .carousel-caption h1 {
        font-size: 500%;
        text-transform: uppercase;
        text-shadow: 1px 1px 10px #000;
      }
      .carousel-caption h3 {
        font-size: 200%;
        font-weight: 500;
        text-shadow: 1px 1px 10px #000;
        padding-bottom: 1rem;
      }
      .fa-facebook {
        color: #3b5998;
        font-size: 2em;
        
      }
      .fa-instagram {
        color: #517fa4;
        font-size: 2em !important;
      }
      .fa-youtube {
        color: #bb0000;
        font-size: 2em;
      }
      .fa-snapchat {
        color: #fffc00;
        font-size: 2em;
      }
      .social a{
       font-size: 2.5em;
        padding: 3rem;
      }
      .fa-facebook:hover, .fa-snapchat:hover,.fa-instagram:hover ,.fa-youtube:hover {
        color: #d5d5d5;
        }
       .card-body {
         height: 80%;
         width: 90%;
         
       }
       .card {
         height: 85%;
         width: 70%;
         margin-top: 90px;
         margin-left: 200px;
       }
       .bg-faded {
         margin-top: 7em;
       }
       .my-3 {
      width: 50%;
      
       }
       footer {
        padding: 25px 0;
        text-align: center;
        background-color: #222;
        color: #d5d5d5;
        margin-top: 100px;
        text-transform: uppercase;
    }

    .button {
     
      background-color: #f4511e;
      border: none;
      color: #FFFFFF;
      text-align: center;
      font-size: 15px;
      padding: 20px;
      width: 1000px;
      height: 5rem;
      transition: all 0.5s;
      cursor: pointer;
      margin: 5px;
    }
    
    .button span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
    }
    
    .button span:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
    }
    
    .button:hover span {
      padding-right: 25px;
    }
    
    .button:hover span:after {
      opacity: 1;
      right: 0;
    }
    .img-fluid {
      height: 300px;
    }
    #sports {
     
      margin: 0;
      outline: 0mm;
      text-decoration-color: white;
    }
    #team {
      background-color: #f6f5f3;
    }
    





    /* ----Media Queries ---*/
    @media (max-width: 992px) {
      .social a{
        font-size: 2em;
        padding: 2rem;
      }
    }
    @media (max-width: 768px) {
.carousel-caption {
  top: 80%;
}
.carousel-caption h1 {
  font-size: 350%;
}
.carousel-caption h3 {
  font-size: 140%;
  font-weight: 400;
  
  padding-bottom: 0.2rem;
}
.carousel-caption .btn {
  font-size: 95%;
  padding: 8px 14px;
  
}
.display-4 {
  font-size: 200%;
}
.social a{
  font-size: 2.5em;
  padding: 1.2rem;
}
.jumbotron .img-fluid {
  vertical-align: middle;
  width: 200%;
}
.btn {
  margin-bottom: 5em;
}
    }
    

    @media (max-width: 576px) {
      .carousel-caption {
  
        top: 50%;
       
      }
      .carousel-caption h1 {
        font-size: 250%;
      }
      .carousel-caption h3 {
        font-size: 110%;
      }
      .carousel-caption .btn {
        font-size: 90%;
        padding: 4px 8px;
      }
      .carousel-indicators {
        display: none;
      }
      .display-4 {
        font-size: 160%;
      }
      .social a{
        font-size: 2em;
        padding: 0.7rem;
      }
      .carousel-item {
        width: 100%;
        height: 50%;
      }
      .img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%
      }
      
      
    }

